body {
    font-family: Arial, sans-serif;
    background-color: #25ba63;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h3 {
    margin-bottom: 20px;
}

.login-container .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-container .campo input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login-container .botones button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    width: 100%;
}

.login-container .botones button:hover {
    background-color: #0056b3;
}

.login-container .logo img {
    width: 100px;
    margin-bottom: 20px;
}
